@font-face {
font-family: 'OpenSans';
	src:url('../fonts/OpenSans-Regular.eot?-cky9kd');
	src:url('../fonts/OpenSans-Regular.eot?#iefix-cky9kd') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff?-cky9kd') format('woff'),
		url('../fonts/OpenSans-Regular.ttf?-cky9kd') format('truetype'),
		url('../fonts/OpenSans-Regular.svg?-cky9kd#OpenSans') format('svg');
}

body{
color: #000;
padding: 0px 0px;
font-size:12px;
margin:0px;
font-family: OpenSans,Verdana, Tahoma, Arial, "Trebuchet MS", "Times New Roman", Georgia, sans-serif, serif;
}

.footer{
background-color: #F5F5F5;
border: 1px solid #CCCCCC;
padding: 8px;
}

.cur_server{
border:1px solid #CCCCCC;
background:url(../images/admin/cur_server_bg.gif);
}

.cs_right, .serv_right{
border-right:1px solid #CCCCCC;
}

.cs_name{
font-family:Arial, Verdana, Helvetica, sans-serif;
font-size: 14px;
font-weight: 400;
color: #444444;
overflow: hidden;
width:165px;
display:block;
}

.serv_exp{
color: #777777;
font-size:11px;
}

.serv_list{
border:1px solid #CCCCCC;
width:250px;
overflow: auto;
display:block;
position:absolute;
left:0px;
top:0px;
visibility:hidden;
}

.serv_server td{
background:url(../images/admin/cur_server_bg.gif);
border-bottom:1px solid #CCCCCC;
}

a.headlink{
display:block;
text-decoration:none;
width:100%;
height:70px;
}

.docktable{
height:75px;
background:url(../images/header.jpg) no-repeat;
}

a:link, a:visited, a:active{
text-decoration:none;
}

/*********************************/
/****** PASSWORD STRENGTH METER ***/
/*********************************/

div[id$='pass-strength-result']{
background-color: #EEEEEE;
border-color: #DDDDDD !important;
border-style: solid;
border-width: 1px;
display: block;
padding: 3px 5px;
text-align: center;
//width: 200px;
}

div[id$='pass-strength-result'].bad {
background-color: #ffb78c;
border-color: #ff853c !important;
}

div[id$='pass-strength-result'].good {
background-color: #ffec8b;
border-color: #fc0 !important;
}

div[id$='pass-strength-result'].short {
background-color: #ffa0a0;
border-color: #f04040 !important;
}

div[id$='pass-strength-result'].strong {
background-color: #c3ff88;
border-color: #8dff1c !important;
}


/* Drop Down menu theme*/
/* Table of the menu */

.altrowstable {
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
border: 1px #D2D2D2 solid;
}

.altrowstable th, .tablehead {	
background: url(../images/gradient_silver.gif) repeat-x scroll 0 0 #FFFFFF;
color: #555555;
font-size:13px;
font-family: OpenSans,arial,verdana,sans-serif;
}

.shadow{
-moz-box-shadow: 0 0 8px 2px #E2E2E2;
-webkit-box-shadow: 0 0 8px 2px #E2E2E2;
box-shadow: 0 0 8px 2px #E2E2E2;
}

.tr_bgcolor {
background: rgb(235, 245, 255);
}

.oddrow{
background-color:#FEFEFE;
}

.evenrow{
background-color:#F1F1F1;
}

.headericonstd {
text-decoration : none;
font-weight: bold;
float: left;
width: 13.66667%;
}

.divround{
padding: 3px;
border-radius: 5px;
border:1px solid #D2D2D2;
}

.ddopt{
background-color:#FFFFFF;
min-width:70px;
border:1px solid #DEDCD1;
margin-top:2px;
visibility:hidden;
top:0px;
left:0px;
}
/*Menu TR Normal effect */
.ddmnor, .ddopt a:link, .ddopt a:visited, .ddopt a:active{
text-decoration: none;
text-align:left;
}
/*Menu TR On it effect */
.ddmon{
background-color:#DAEBFE;
color: #000;
text-align:left;
}
.cbgbor td {
border:solid 1px #CCCCCC;
}
table.cbgbor {
border-collapse: initial !important;
}
.cbgbor tr:first-child td:first-child {
border-top-left-radius: 4px;
}
.cbgbor tr:first-child td:last-child {
border-top-right-radius: 4px;
}
.cbgbor tr:last-child td:first-child {
border-bottom-left-radius: 4px;
}
.cbgbor tr:last-child td:last-child {
border-bottom-right-radius: 4px;
}
.pagelinks, .activepage{
border:1px solid #CCCCCC;
padding:0px 10px;
}
.pagelinks{
background-color: #fff;
}
.pagelinks a:link, .pagelinks a:visited, .pagelinks a:active, .pagelinks a:hover,
.activepage a:link, .activepage a:visited, .activepage a:active, .activepage a:hover{
text-decoration:none;
}
.activepage a:link{
color:#fff;
}
.pagelinks:hover{
background-color: #eee;
}
.activepage{
background-color: #337AB7;
}
/* Ending - Drop Down menu theme*/

/* hf_theme.php the top row*/
.header{
background:url(../images/headerbg.gif);
height:35px;
color: #555555;
}

.header a:link, .header a:visited, .header a:active, .header a:hover{
font-size:12px;
color: #555555;
text-decoration:none;
font-weight:bold;
font-family: OpenSans,Arial, Helvetica, sans-serif;
}

.headtd{
border-right:1px solid #AAAAAA;
}

.menu-icon,.menu-icon-logout{
width:40px;
height:35px;
cursor:pointer;
vertical-align:middle;
}
.menu-icon a {
text-decoration:none;
}
.menu-icon i, .menu-icon-logout i{
font-size:26px;
color:#fff;
padding:0 7px;
}

/* LEFT MENU START */
.fill_bg{
background-color:#333333;
}
.soft_cathead{
padding:10px 3px;
vertical-align:middle;
background-color:#333;
font-family: OpenSans,'OpenSans', Arial, Helvetica, sans-serif;
}
.soft_cathead:hover{
background: #4096ee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #4096ee 0%, #529eea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#529eea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4096ee 0%,#529eea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4096ee 0%,#529eea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4096ee 0%,#529eea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4096ee 0%,#529eea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#529eea',GradientType=0 ); /* IE6-8 */
}
.soft_cathead i{
font-size:20px;
vertical-align:middle;
}
.tr_width{
width:100%;
color:#fff;
text-align:left;
cursor:pointer;
transition:all 0.2s linear;
font-family: OpenSans,'OpenSans', Arial, Helvetica, sans-serif;
}
.tr_width a{
color:#fff;
padding-left:10px;
text-decoration:none;
transition:all 0.2s linear;
font-size:13px;
}
.tr_width:hover > .soft_cathead a{
padding-left:20px;
}
.tr_width > a > i{
float:left;
color:#fff;
}
.no-effect{
float:right;
}
.tr_width a:hover > .no-effect{
padding-left:10px;
}

.count{
float:left;
border-radius:18px;
font-weight:bold;
font-size:11px;
color:#fff;
text-align:center;
min-width:14px;
background:#3083FF;
padding-top:2px;
width:30px;
height:20px;
}
	
.softlinks{
display:block;
list-style:none;
margin:0;
padding:0;
font-family: OpenSans,'OpenSans', Arial, Helvetica, sans-serif;
}

.softlinks li{
padding:10px 20px;
border-bottom:1px solid #d4d4d4;
cursor:pointer;
background:#f7f7f7;
background:-moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
background:-webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
background:linear-gradient(#f7f7f7 0%, #ececec 100%);				
transition:all 0.2s linear;
}
.softlinks a {
text-decoration:none;
}
.softlinks li:hover{
background:#e5e5e5;
padding:10px 25px;
text-decoration: none;
}
.softlinks{
background:#f7f7f7;	
}
.current > li{
color:#FFF !important;
background:#999999;
}
.current li:hover{
color:#333 !important;
}
.softlinks a li{
color:#333;
font-size:11px;
text-decoration:none;
}
a:hover{
text-decoration: none;
}
/* LEFT MENU END*/

/*login.php styles*/
.login_right{
background:url(../images/loginbackground.jpg) no-repeat;
width:345px;
height:230px;
}

.login_txt{
color: #666;
font-size:12px;
}

.login_input{
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CCCCCC;
font-size:18px;
margin-bottom:16px;
margin-right:6px;
margin-top:2px;
padding:6px;
width: 296px;
color:#666666;
border-radius: 4px 4px 4px 4px;
}

.loginhead{
font-size: 20px;
font-weight: 400;
color: #444444;
}

.loginmap{
background: url(../images/map.gif) no-repeat center;
height: 500px;
background-position:50% 50%;
}

.h1{
font-family: OpenSans,Arial,Verdana,sans-serif;
font-size:35px;
}

.h2{
font-family: OpenSans,Arial,Verdana,sans-serif;
font-size:25px;
}

.h3{
font-family: OpenSans,Arial,Verdana,sans-serif;
font-size:20px;
}

.h4{
font-family: OpenSans,Arial,Verdana,sans-serif;
font-size:15px;
font-weight: bold;
text-align: center;
}

/* Admin Index */

.roundheader{
padding: 8px;
font-weight: bold;
color: #444;
background-color: #F0F0F0;
}

.statsnum{
text-align:center;
background-color: rgb(235, 245, 255);
}

.resource_graph{
width:100px;
height:100px;
}

.server_graph{
width:80px;
height:80px;
}

/* Manage Server */
a.micons{
text-decoration:none;
font-size:12px;
}

.mgraph{
width:110px;
height:110px;
}

/* File Manager */
.filemanager{
width: 100%;
}

.fileicon a:link, .fileicon a:visited, .fileicon a:active{
width: 100px;
height: 100px;
text-align:center;
display: inline-block;
text-decoration: none;
border:1px solid #FFFFFF;
padding: 5px;
}

.fileicon a:hover{
border:1px solid #9CC6EF;
background-color:#E8F5FD;
}

.tit{
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: 400;
color: #444444;
padding:4px 18px 18px 18px;
}

.heading{
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 500;
color: #444444;
text-align: center;
width:100%;
}

.output{
//background-color: #DFFCF9;
font-size:13px;
padding:8px;
text-align:left;
margin-bottom: 20px;
}

.bgaddv{
padding:20px;
margin-bottom: 5px;
border: 5px solid #f0f0f0;
margin-top: -12px;
}

.notice{
background-color: #FAFBD9;
font-size:13px;
padding:8px;
text-align:center;
margin-bottom: 20px;
}

.e_notice{
background-color: #FFE8E1;
font-size:13px;
padding:8px;
text-align:center;
margin-bottom: 20px;
}

.input {
background-color: #FFFFFF;
color: black;
font-family:inherit;
font-weight:200;
font-size: 11px
}

.textarea {
background-color: #CCCCCC;
border: black 2px;
padding:30px;
color: white;
font-family: OpenSans,arial, verdana, ms sans serif;
font-size: 12pt;
}

.summaryTitle, .cbg {
background:url(../images/admin/shgbig.gif) repeat;
color:#000000;
font-weight:bold;
height:26px;
padding-right:8px;
text-decoration:none;
}

.summaryBlock, .cbor{
background-color:#FFFFFF;
border:1px solid #CCCCCC;
}

/* Softwares Tabs */
.tabs{

text-align:center;
margin-bottom:20px;
}

a.tab:link, a.tab:visited, a.tab:active, a.tab:hover{
padding:5px;
text-decoration: none;
color: #666666;
margin:0px 8px;
display:inline-block;
}

a.tabbed:link, a.tabbed:visited, a.tabbed:active, a.tabbed:hover{
padding:10px;
text-decoration: none;
font-size:18px;
color: #0273b3;
margin:0px 8px;
display:inline-block;
background-color: #F1F1F1;
}
/* Ending - Softwares Tabs */

.dummm{
zoom:1;
}

.ostempfont{
font-family: OpenSans,Verdana, Helvetica, sans-serif;
font-size:12px;
}

/* CPU styles*/
.val{
font-size: 18px;
font-weight: 400;
color: #444444;
}
/* Ending - CPU styles*/

.sysyellow
{
background-color: #F5FF7D; 
}

.sysred
{
background-color: #FF8A8A;
}

.sysgreen
{
background-color: #99FF66; 
}

/* Form Related */
.head{
font-weight:bold;
font-size:11px;
color:#333333;
vertical-align:top;
//background-color: #F9F9F9;
}

.fhead{
font-weight:bold;
color:#333333;
}

.exp{
color: #777777;
font-size:11px;
font-weight:normal;
}

/* Ending - Form Related */

/* All forms error handler */
/*.error{
background-color: #EC8C8C;
color: #FFF;
padding: 8px;
font-weight:bold;
}*/
/* Ending - All forms error handler */

.serv a:link, .serv a:visited, .serv a:active, .serv a:hover{
font-size: 18px;
font-weight: 400;
color: #444444;
text-decoration:none;
}
.serv_small{
color: #777777;
font-size:11px;
}
.server_over{
background-color: #F0F0F0;
text-align: center;
}

.ippo a:link, .ippo a:visited, .ippo a:active, .ippo a:hover{
font-size: 17px;
font-weight: bold;
color: #444444;
text-decoration:none;
font-family:Arial, Verdana, Helvetica, sans-serif;
}
.ippo_small{
color: #777777;
font-size:11px;
}
.ippo_over{
background-color: #E2F4FE;
}

.ips a:link, .ips a:visited, .ips a:active, .ips a:hover{
font-size: 17px;
font-weight: bold;
color: #444444;
text-decoration:none;
font-family:Arial, Verdana, Helvetica, sans-serif;
}
.ips_small{
color: #777777;
font-size:11px;
}
.ips_over{
background-color: #E2F4FE;
}
.ips6box{
font-size:13px;
}

.vs a:link, .vs a:visited, .vs a:active, .vs a:hover, 
.usr a:link, .usr a:visited, .usr a:active, .usr a:hover{
font-size: 17px;
font-weight: bold;
color: #444444;
text-decoration:none;
font-family:Arial, Verdana, Helvetica, sans-serif;
}
.vs_small, .usr_small{
color: #777777;
font-size:11px;
}
.vs_over, .usr_over{
background-color: #E2F4FE;
}

/* Plans I/0 */
.io, .io_over{
font-size:18px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
text-decoration:none;
text-align: center;
cursor: pointer;
}

.io_over{
background-color: #e2f4fe;
}

.io a:link, .io a:visited, .io a:active, .io a:hover, .io_over a:link, .io_over a:visited, .io_over a:active, .io_over a:hover
{
text-decoration:none;
color: #000;
}

/* Percentage for Download Graph */
.down{
border:1px solid #CCCCCC;
height:30px;
}
.down_per{
background:url(../images/admin/cur_server_bg.gif);
border-right:1px solid #CCCCCC;
}

/* Search */
.showsearch{
background-color: #F0F7FF;
}

/*Config Settings*/
.heading1{
font-size:15px;
font-weight:bold;
color:#333333;
margin:5px;
font-family: OpenSans,Helvetica, Verdana, Arial, sans-serif;
}

.vpsmenu{
-moz-border-radius:6px 6px 6px 6px;
background:#858585 repeat scroll 0 0;
padding:6px;
display:none;
z-index:10;
position: absolute;
}

.vpsmenubg{
background:#FFFFFF repeat scroll 0 0;
//padding:2px;
height:22px;
width:125px;
text-align:center;
vertical-align: middle;
}

.vpsmanagemenu{
-moz-border-radius:6px 6px 6px 6px;
background:#858585 repeat scroll 0 0;
padding:6px;
display:none;
z-index:10;
position: absolute;
}

.vpsmanagemenubg{
background:#FFFFFF repeat scroll 0 0;
padding-top:1px;
height:22px;
width:75px;
text-align:center;
vertical-align: middle;
}

.vpsmanagemenubg a{
margin: 0 2px;
}

.tr_bgcolor {
background: rgb(235, 245, 255);
}

.oddrowcolor{
background-color:#FCFCFC;
}

.evenrowcolor{
background-color:#F5F5F5;
}

.rescuecolor{
background:url(../images/admin/rescueback.gif);
background-size: 1% 100%;
}

.cloudfield{
display:none;
}

/* Webuzo CSS */

#all_users
{
	font-size: 0.8em;
	background: #FFF;
	color: #666;
	line-height: 2.4em;
	padding-left:5px;
	margin: 0px;
	border-top: 1px solid #666;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #666;
	width: 290px;
	height: 282px;
	resize: none;
	float:left;
	overflow:auto;
}
#all_users .innertxt
{
	font-size: 0.8em;
	color:#666666;
	display:inherit;
	border-bottom: dashed 1px #cccccc;
	cursor:pointer;
	height:40px;
}

#all_users .innertxt strong
{
	color:#666666;
	font-size:13px;
	color:#333333;
	margin-top:20px;
	font-family: OpenSans,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
	
#selected_users
{
	font-size: 0.8em;
	background: #FFF;
	color: #666;
	line-height: 2.4em;
	padding-left: 5px;
	margin: 0px 0px 0px 10px;
	border-top: 1px solid #666;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #666;
	width: 290px;
	height: 282px;
	resize: none;
	float:left;
	overflow:auto;
}

#selected_users .innertxt2
{
	font-size: 0.8em;
	color:#666666;
	display:inherit;
	border-bottom: dashed 1px #cccccc;
	cursor:pointer;
	height:40px;
}

#selected_users .innertxt2 strong
{
	color:#666666;
	font-size:13px;
	color:#333333;
	margin-top:20px;
	font-family: OpenSans,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

.float_break
{
    margin:0;
	padding: 0;
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0;	
}

/*NOTE BOX EFFECT*/
.notebox 
{
position: relative;
width: 60%;
background: #F3F3F3;
-moz-border-radius: 4px;
border-radius: 0px 30px;
padding: 2em 1.5em;
color: rgba(0,0,0, .8);
text-shadow: 0 1px 0 #fff;
line-height: 1.5;
margin: 10px auto;
}


.notebox:before, .notebox:after 
{
z-index: -1;
position: absolute;
content: "";
bottom: 15px;
left: 10px;
width: 50%;
top: 80%;
max-width:300px;
background: rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);  
-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
-webkit-transform: rotate(-3deg);   
-moz-transform: rotate(-3deg);  
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}

.notebox:after 
{
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
right: 10px;
left: auto;
}
/*END OF NOTE BOX EFFECT*/

/*********ACL*******************/

.cat-wrapper{
	margin-left:1px;
    width:95%;
	/*height:120px;*/
    border: 3px solid #F0F0F0;
}

.icon-cell{
	width:32px;
	padding-top:10px;
    padding-left:30px;
    padding-right:30px;
}

.icon-caption{
	font-weight:normal;
	color:#404040;	
}

.icon-caption-cell{
	
}

.mgmgttable{
    width:auto;
}

.mgmgttable td{
	valign:top;
}
.advoptionstable{
   width:auto;
}

.advoptionstable td{
	valign:top;
}

.infotable{
   width:auto;
}
.infotable td{
valign:top;
}

.vps-cat-title-text{
color:white;
font-weight:normal;
font-size:large;
}

.cat-title{
width:100%;
text-align: left;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
border:4px solid white;
background-image:url('../images/catbg.png');
background-repeat:repeat-x;	
background-color:#FFFFFF;
}

.cat-title td {
	height:25px;
	/*border:1px solid #CCCCCC;*/
}

.cat-title-text{
    color:white;
	height:5px;
	font-weight:bold;
}

/* VPS info popup button */
 
a.vpsinfotool{
	outline:none; 
}

a.vpsinfotool strong {
	line-height:30px;
}

a.vpsinfotool:hover {
	text-decoration:none;
} 

a.vpsinfotool span {
    z-index:10;
	display:none; 
	padding:5px;
    margin-top:-30px; 
	margin-left:2px;
	line-height:16px;
	position:absolute; 
	color:#111;
	border: 2px solid #000000;
	background:black;
	background: rgba(0, 0, 0, 0.85);
}

a.vpsinfotool span td{
	color: #ddd ;
}

a.vpsinfotool span .tr_bgcolor{
	background:none ;
}

a.vpsinfotool span .evenrowcolor{
	background-color:transparent ;
}

a.vpsinfotool span th{
	background:none ;
	color: #b4b4b4 ;
	border-bottom: 1px solid #b4b4b4 ;
}

.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}

/*CSS3 Shadow for the above tooltip*/
a.vpsinfotool span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 4px 5px 10px #A2A2A2;
    -webkit-box-shadow: 4px 5px 10px #A2A2A2;
    box-shadow: 4px 5px 10px #A2A2A2;;
}


/* Bandwidth info popup*/
 
a.bandinfo{
	outline:none; 
}

a.bandinfo:hover {
	text-decoration:none;
} 

a.bandinfo span {
    z-index:10;
	display:none; 
	padding:5px;
    margin-top:-30px; 
	margin-left:2px;
	line-height:16px;
	position:absolute; 
	color:white;
	border: 2px solid #000000;
	background:black;
	background: rgba(0, 0, 0, 0.85);
}

/*CSS3 Shadow for the above tooltip*/
a.bandinfo span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 4px 5px 10px #A2A2A2;
    -webkit-box-shadow: 4px 5px 10px #A2A2A2;
    box-shadow: 4px 5px 10px #A2A2A2;;
}


/* Rescue mode Tooltip for List VS Page */

a.rescuetip {
	outline:none;
}

a.rescuetip strong {
	line-height:30px;
}

a.rescuetip:hover {
	text-decoration:none;
} 

a.rescuetip span {
	z-index:10;
	display:none;
	padding:14px 20px;
	margin-top:-30px;
	margin-left:7px;
	width:240px;
	line-height:18px;
}

a.rescuetip:hover span{
	display:inline;
	position:absolute; 
	color:#111;
	border:1px solid #DCA;
	background:#fffAF0;
}

.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}
    
/*CSS3 extras*/
a.rescuetip span {
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 5px 5px 8px #CCC;
	-webkit-box-shadow: 5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}

/*Database Backup Tab Styling*/
#dbtabs div.roundheader ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#dbtabs div.roundheader ul li{
	display: inline;
}

#dbtabs div.roundheader ul li a{
	text-decoration: none;
	padding: 5px 15px 8px 15px;
	background: rgb(199, 199, 199);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
}

#dbtabs div.roundheader ul li a.active{
	background: #F8F8F8;
}

#dbtabs div.tab{
	display:none;
}

#dbtabs div:target{
	display:block;
}

a.wiki_help{
font-size:25px;
font-weight: bold;
color: #555555;
text-decoration: none !important;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}

/* NEWS */

.softnews{
overflow:auto;
display:block;
height:200px;
}

.softnews a:link, .softnews a:visited, .softnews a:active{
color: #4D7CC4;
text-decoration: none;
}

.softnews a:hover{
color: #4D7CC4;
text-decoration:underline;
}

.softnewshead{
padding:5px;
margin:2px;
background: #EFF1F1;
border:1px solid #cccccc;
}

.softnewsblock{
font-size:10px;
padding-left:10px;
padding-top:4px;
padding-bottom:4px;
}


.newsheader{
background:url(../default/images/greybg.gif);
height:30px;
color:#565656;
font-size:13px;
font-weight:bold;
font-family: OpenSans,Helvetica, Verdana, Arial, sans-serif;
}

.news_content_header{
/*background: #5BA4E5; */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #555555 0%, #333333 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#333333));
background: -webkit-linear-gradient(top, #555555 0%,#333333 100%);
background: -o-linear-gradient(top, #555555 0%,#333333 100%); 
background: -ms-linear-gradient(top, #555555 0%,#333333 100%);
background: linear-gradient(to bottom, #555555 0%,#333333 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#333333',GradientType=0 );
font-size:16px;
color:#fff;
margin-top:20px;
padding:10px;
text-align:center;

}
.news_content{
height:200px;
padding:10px;
color:#222;
border:1px solid #ccc;
font-size:13px;
overflow:auto;
margin-bottom:20px;
}

/*NEWS END*/

.icon-head{
font-size:45px;
vertical-align:middle;
color:#525252;
}

.link_btn{
-webkit-border-radius: 3;
-moz-border-radius: 3;
border-radius: 3px;
font-family: opensans;
color: #ffffff;
font-size: 15px;
padding: 10px;
background: #919191;
text-decoration: none;
border:none;
line-height:normal !important;
}

.link_btn:hover {
background: #b8b8b8;
text-decoration: none;
color: #ffffff;
}

.link_btn a:hover a:active a:visited{
color:white !important;
text-decoration:none !important;
}

.btn {
-webkit-border-radius: 3;
-moz-border-radius: 3;
border-radius: 3px;
font-family: opensans;
color: #ffffff;
font-size: 15px;
padding: 10px;
background: #00a0d2;
text-decoration: none;
margin-bottom: 10px;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
background: #21bceb;
text-decoration: none;
color: #ffffff;
}

.go_btn {
-webkit-border-radius: 0;
-moz-border-radius: 5px;
border-radius: 5px;
color: #ffffff;
font-size: 15px;
background: #fa8801;
padding: 7px 20px 7px 20px;
border: solid #1f628d 0px;
text-decoration: none;
}

.go_btn:hover {
background: #ffa845;
color: #ffffff;
text-decoration: none;
}
.go_btn_small{
color: #ffffff;
font-size: 13px;
padding: 3px 8px;
}

/* Table sorter CSS Starts here */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
background-color: #EFEFEF;
border: 1px solid #FFF;
font-size: 14px;
font-weight:bold;
text-align:center;
}
table.tablesorter thead tr .header {
background-image: url('images/bg.gif');
background-repeat: no-repeat;
background-position: center right;
cursor: pointer;
}

table.tablesorter tbody td {
color: #3D3D3D;
vertical-align:middle;
}

table.tablesorter thead tr .headerSortUp {
background-image: url('images/asc.gif');
}

table.tablesorter thead tr .headerSortDown {
background-image: url('images/desc.gif');
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #EFEFEF;
}

table.tablesorter th{
background-color: #EFEFEF;
border: 1px solid #FFF;
font-size: 13px;
font-weight: bold;
text-align: center;
border-top: none;
}

table.tablesorter tr td{
border-bottom:2px solid #EFEFEF;
}
/* Table sorter CSS Ends here */

/* form element bg starts */

.bg{
background-color:#FFF;
padding:20px;
width:98%;
margin:5px auto;
}

.bg h3{
margin-bottom:30px;
color:#666;
}

.gray-txt{
color:#666;
}

.head{
margin-bottom:20px;
}
.head > i{
color:#666;
}

.adv_border{
border:1px solid #ccc;
}

.adv_container{
padding:5px;
}

.form-group_head{
background-color: #EFEFEF;
padding-top: 10px;
padding-left: 10px;
padding-right: 25px;
padding-bottom: 20px;
}
.form-group_head .row{
margin-top:15px;
}

.form-group_head .row label{
font-size:15px;
font-weight: 600;
margin: 6px;
}

.delip{
padding-left: 10px;
}

.ip-mac label{
	float: left;
	padding-top: 10px;
}

.ip-mac input{
	width:85%;
	margin-bottom: 5px;
}

.ipv6-range div{
padding-right: 0px;
padding-left: 0px;
width: 12%;
float: left;
margin-bottom: 5px;
}
.ipv6-range input{
float: left;
text-align: center;
padding: 0px;
width: 86%;
}

.ipv6-range label{
	display: block;
	text-align: center;
	padding-top: 10px;
}

#right_body{
padding: 5px;
background:none repeat scroll 0 0 #F0F0F0;
}

/* form elemet bg ends */

.control-label{
padding-top: 0px !important;
}

.help-block{
padding-bottom:7px;
font-size:12px;
}

a#pull{
display: none;
}

.attribute{
text-align: right;
}

.serv_op{
float: left;
padding: 25px;
text-align: center;
}

.para{
margin-top:3px;
margin-left:8px;
font-weight:bold;
}

.manage-ico{
width: 1px;
padding: 7px 0px 0px 0px;
}

.vpsinfo th{
border: none !important; 
padding: 5px 10px 5px 10px;
width: 50px;
}

.vpsinfo td{
color: #fff  !important;
}

.togglediv{
padding:8px 0px 0px 8px;
}

.bottom-menu label{
float:left;
padding: 8px;
padding-left: 120px;
}

.bottom-menu select{
width:30%;
float:left;
}

.bottom-menu .col-sm-5{
min-width:430px;
float:right;
}
.firewall .btn{
width:100%;
margin-bottom:10px;
}

.firewall label, .firewall input[type="text"]{
float:left;
margin-left:15px;
}

.firewall label{
margin-top:10px;
}

#toggle_indicator{
float: left;
font-size: 20px;
margin-top: -5px;
}

.side_text{
width:85%;
float:left;
}

.side_lbl{
padding:8px;
}
.ui-progressbar-value{
height: 18px;
}

.side_lbl{
	padding: 8px;
	float:left;
}

/* Import css starts */
a.solus_opt:link, a.solus_opt:visited, a.solus_opt:active, a.solus_opt:hover{
font-size:20px !important;
padding:10px !important;
border:3px solid #ccc !important;
display:block !important;
width:350px !important;
text-decoration:none !important;
color:#111111 !important;
}

a.solus_opt:hover{
border:3px solid #999 !important;
}
/* Import css ends*/

/* Collapse left panel when width is less */

@media (max-width: 840px) {

a#pull{
	display: block;
	z-index:2;
	position: absolute;
	top: 141px;
	left: 0px;
	background-color: #333;
}


#left-menu{
	display:none;
	position: absolute;
	z-index:2;
}

.row{
	margin-top: 15px;
}

#virt_header{
	margin-top: 0px;
}
.headericonstd{
	width: 25%;
}
	
.sm_space{
	margin-top: 10px;
}

.go_btn[name="search"]{
	margin-top: 10px;
}
}

.ui-progressbar .ui-progressbar-value{
	margin: 0px;
}

.blue_td{
background-color: rgb(235, 245, 255);
}

/* Bootstrap Overides */
table.tablesorter tbody td {
color:#000000 !important;
}

table.vpsinfo tr td{
color:#fff !important;
}

table.no_border th, table.no_border td { 
     border-top: none !important; 
}

fieldset.user_details_f {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.user_details_f {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
	font-size:15px;
}

/* tasking page related css starts */
table.tasks_table tbody td{
vertical-align: top !important;	
}
/* tasking page related css ends */

/* bwband_holder1 legend css starts here */
.legend_container{
padding-top:8px;
}

.legend_container td{
padding:3px;
}

#tooltip {
z-index: 105;
}

table.table-head thead tr th  {
font-weight: normal;
}

.jqstooltip {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

.pad4{
padding:4px !important;
}

/* Managevps related CSS Start */

.modal-header{
height : 35px;
background-color : #f0f0f0;
font-weight: bold
color: #444;
padding: 8px;
font-size : 13px;
}

.wiki_help{
height : 16px;
width : 16px;
margin-bottom : 2px;
margin-left :10px;
}

#storages td {
padding-top: .5em;
padding-bottom: .5em;
}

.status{
float : right;
margin-right : 5px;
margin-top : 10px;
}

.status_txt{
text-align : center;
font : arial;
color : white;
border-radius : 5px;
}

.online{
padding : 10px 15px;
background : #5cb85c;
}

.offline{
padding : 10px 15px;
background : #b24443;
}

.suspended{
padding : 10px 5px;
background : #5c79b8;
}

textarea {
resize: none;
}

.working_div {
background-color: #f2f2f2;
opacity: 0.4;
position: absolute;
left: 0px;
top: 0px;
z-index: 100;
height: 100%;
width: 100%;
overflow: hidden;
background-image: url(../images/admin/loader.gif);
background-position: 50% 10%;
background-repeat: no-repeat;
}

.pan-button{
text-align:center;
padding:15px 0px;
height:85px;
}
.pan-button:hover{
hbackground: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
background:#e3e3e3
}
.pan-button span{
display:block;
}
.pan-button img{
display:inline-block;
}
/* Managevps related CSS Ends */

/* LetsEncrypt related CSS Start */
#crt_details_tbl_hd{
background-color: #B5F0FF;
}

.domain_header{
color: #9B9B9B;
font-size: 50px;
padding: 10px;
text-align: center;
}

#conf_modal_head, #logs_modal_head, #moveips_modal_head {
background-color: #B5F0FF;
font-size: 15px;
font-weight: bold;
border-radius: 5px 5px 0px 0px;
}

.server_name {
color: #000000;
background-color: #A1FF7B;
padding: 5px 50px;
margin: 2px, 0px;
border-radius: 5px;
font-weight: bold;
}

.no_domain{
color:#a94442;
font-size:15px
}

/* LetsEncrypt related CSS Ends */


/* select2 styling start */

.server-select-lg .select2-container .select2-selection--single, .server-select-lg .select2-container--default .select2-selection--single .select2-selection__arrow, .server-select-lg .select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.server-select-lg .select2-container--classic .select2-selection--single .select2-selection__rendered, .server-select-lg .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

/* select2 styling end */


/* Admin notes styling start */

#notes_container.menu-icon i {
font-size: 23px;
}

.admin_notes {
background-color: #333;
border: none;
cursor: auto;
padding: 0;
max-width: 800px;
width: 100%;
}

.admin_notes .popover-content {
padding: 0;
}

.admin_notes ul.nav {
margin-top: 16px;
}

.admin_notes ul.nav li:first-child {
margin-left: 16px;
}

.admin_notes ul.nav li a {
color: #fff;
}

.admin_notes ul.nav li .badge {
background-color: #fff;
color: #333;
}

.admin_notes ul.nav li a:hover, .admin_notes ul.nav li a:active {
background-color: #757575;
border-color: #757575 #757575 #FFF176;
}

.admin_notes ul.nav li.active a, .admin_notes ul.nav li.active a:hover, .admin_notes ul.nav li.active a:focus {
background-color: #FFF176;
border: 1px solid #FFF176;
color: #333;
}

.admin_notes ul.nav li.active .badge {
background-color: #777;
color: #fff;
}

.admin_notes .top_right {
border-radius: 0 6px 0 0;
position: absolute;
right: 0;
top: 0;
}

.admin_notes .top_right .notes_search {
display: inline-block;
margin: 0 16px 0 0;
padding: 0;
}

.admin_notes .top_right .notes_search input {
margin: 0;
}

.admin_notes .top_right .notes_search button {
font-size: 14px;
padding: 6px 12px;
margin: 0;
}

.admin_notes .top_right a {
background-color: #555;
border-right: 1px solid #444;
display: inline-block;
height: 58px;
padding: 0 16px;
}

.admin_notes .top_right a:hover {
background-color: #4497ED;
}

.admin_notes .top_right a:last-child {
border-radius: 0 6px 0 0;
}

.admin_notes .top_right i {
color: #fff;
font-size: 16px;
line-height: 58px;
}

.popover.admin_notes > .arrow::after {
border-bottom-color: #333;
}

.admin_notes .popover .popover-content {
padding: 0;
}

.admin_notes a {
outline: none;
}

.admin_notes .tab-content {
background-color: #FFF176;
border-radius: 0 0 6px 6px;
max-height: 400px;
overflow: auto;
padding: 4px 0;
}

.admin_notes nav {
text-align: center;
}

.admin_notes nav ul.pagination {
margin: 10px 0;
}

.notes_unsaved:not(:empty) {
border-bottom: 1px solid #fff;
}

.note {
background-color: #fff;
border-radius: 2px;
box-shadow: 0 0 2px #999;
margin: 8px 16px;
}

.note.search_hidden {
display: none;
}

.note_placeholder {
color: #888;
margin: 64px 0;
text-align: center;
}

.note_form {
padding: 8px;
}

input.note_title {
font-size: 16px;
font-weight: 700;
margin-bottom: 8px;
width: 100%;
}

textarea.note_content {
max-height: 300px;
width: 100%;
}

div.note_title {
font-size: 16px;
font-weight: 700;
padding: 10px 8px 0;
word-wrap: break-word;
}

pre.note_content {
background: transparent;
border: none;
outline: none;
padding: 8px;
white-space: pre-wrap;
word-wrap: break-word;
}

.note_bottom {
border-top: 1px solid rgba(0,0,0,0.12);
font-size: 11px;
padding: 8px;
}

.note_info {
color: rgba(0,0,0,0.54);
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.note_notify {
display: inline-block;
font-size: 12px;
margin: 0 16px 0 0;
}

.note_notify input {
margin: 2px 0 0 0;
}

.note_actions {
float: right;
line-height: 18px;
}

.note_actions a {
margin: 0 6px;
}

.note_actions i {
color: #82B1FF;
font-size: 16px;
margin: 0;
padding: 0;
}

/* Admin notes styling end */

/*** HAProxy (managevdf) CSS Starts ***/
#processing_symb{
position: fixed;
top: 25%;
left: 45%;
display: none;
z-index: 10000;
width: 50%;
}
#processing_symb img{
width: 100px;
}
.domain_forwarders_div{
width: 400px;	
}
#vps_forwarders_tbl .vdf_actions span{
cursor: pointer;
margin: auto 5px;
font-size: 20px;
color: #555;
}
#vdf_tbl_div .vdf_actions i, #vps_forwarders_tbl .vdf_actions i{
margin: 3px;
}
#vdf_tbl_div th, #vps_forwarders_tbl thead{
background-color: #5E5E5E;
color: #FFF;
}
#vdf_tbl_div th, #vdf_tbl_div .vdf_actions, #vps_forwarders_tbl th, #vps_forwarders_tbl .vdf_actions{
text-align: center;
}

#addvdf_form_div{
margin: 3px;
}
#addvdf_form_div .title{
color: #999;
font-size: 20px;
font-weight: bold;
text-align: center;
padding: 5px -5px;
margin: 10px;
}

#addvdf_form_div button, #showhaserversbtn, #showvdfformbtn, #ha_servers_tbl button{
min-height: 10px;
min-width: 80px;
padding: 6px;
margin: 0px;
color: #FFF;
}
#addvdf_form_div .row div[class^=col]{
padding: 2px;
}
#vdf_infobox{
background-color: #FBFFCF;
border-radius: 3px;
border: 1px solid #000;
margin-bottom: 10px;
display: none;
padding: 0px;
font-size: 14px;
}
#vdf_infobox .heading{
background-color: #555;
padding: 10px;
margin: 0px 0px 5px 0px;
text-align: center;
color: #FFF;
font-weight: bold;
}
#vdf_infobox .body{
padding: 10px;
color: #444;
}
#vdf_infobox .body br{
margin: 5px;
}
/* --managevdf css-- */
#managevdf .fa{
padding: 5px;
//cursor: pointer;
font-size: 12px;
}
.vdf_edit .fa, .vdf_save .fa{
padding: auto 5px;
//cursor: pointer;
}

#vdf_tbl_div{
padding: 10px;
}
#vdf_tbl_div, #vps_forwarders_tbl{
margin: 0px;
width: 100%;
}
#addvdf_form_div .row{
margin: 0px;
padding: 0px ;
}
#addvdf_form_div{
padding: 10px;
}
#addvdf_form_div .title{
margin: 0px;
text-align: center;
font-size: 16px;
font-weight: bold;
color: #fff;
background-color: #555;
}
#managevdf th{
background-color: #555;
color: white;
}
#haservers_div table th{
background-color: #555;
color: #FFF;
text-align: center;
}
#haservers_div .ha_servers_actions img{
width: 28px;
cursor: pointer;
padding: 3px;
}
.head_bar{
background-color: #555;
color: #FFF;
}
#update_server_src_ips_form_div{
padding: 10px;
margin: 0px;
}
#update_server_src_ips_form_div hr{
margin: 5px;
}
#update_server_src_ips_form_div form{
margin: 10px auto;
color: #555;
}
#update_server_src_ips_form_div .head2{
font-size: 20px;
font-weight: bold;
padding: 5px;
text-align: center;
color: #555;
}
#update_server_src_ips_form_div .head3{
font-size: 15px;
font-weight: bold;
padding: 5px;
color: #555;
}
/*** HAProxy (managevdf) CSS Ends ***/

/* Start select2 Multi Selection styling */
.select2-selection{
	padding-left: 6px;
	font-size: 14px;
	color: #555;
	border: 1px solid #ccc !important;
}
/* END select2 Multi Selection styling */

/*** Webuzo Integration CSS ***/
.app_label{
	display: inline-block;
    font-weight: 200 !important;
    margin: 5px;
    max-width: 100%;
	cursor:pointer;
}

.appicn{
	display: inline-block;
	margin: 0 15px;
}
.script_selected{
	background: #c5eaff none repeat scroll 0 0;
}
.sai_bboxtxt{
	color: #454545;
    font-family: OpenSans,"Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 14px;
    line-height: 140%;
}
.appcell { 
    border-spacing: 10px;
    border-collapse: separate;
}
._label{
	font-weight:500 !important;
	margin-top:9px;
}

.softwares{
	position:absolute;
	left:95%;
	top:5px;
}

/*** Webuzo Integration CSS Ends***/