/*
Common styling 
*/


/* Styling for IP counts */
.altrowstable td{
	position:relative;
}

span.ip_count {
	color: white;
	float: right;
	display: block;
	padding:3px 5px;
	font-size: 8px;
	border-radius: 25%;
	background-color: black;
	text-align: center;
}

ul.ip_lists{
	margin:0;
	padding:0;
	top: -25px;
	z-index: 5;
	display:none;
	right: 0;
	padding: 5px 15px;
	color:#b4b4b4;
	text-align: center;
	max-height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;	
	position:absolute;
	border-radius: 4px;
	background: black;
	line-height: 16px;
	list-style-type: none;
	background: rgba(0, 0, 0, 0.85);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 4px 5px 10px #A2A2A2;
	-webkit-box-shadow: 4px 5px 10px #A2A2A2;
	box-shadow: 4px 5px 10px #A2A2A2;
	border: 2px solid #000000;
}
	ul.ip_lists li{
		padding:0;
		margin:0;
	}
	
/*
* Autocomplete editable dropdown search
*/	
.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input {
	margin: 0;
	padding: 4px 4px;
}	
	
/* Search and Filter Editable Drop Down custom styles*/
.editableDropDown input.custom-combobox-input{
	background:none;
	color:black;
}
.editableDropDown{
	font-size: 0.9em;
}

ul.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}
