@font-face {
font-family: 'virt';
src:    url('../fonts/virt.eot?yq3zd8');
src:    url('../fonts/virt.eot?yq3zd8#iefix') format('embedded-opentype'),
	url('../fonts/virt.ttf?yq3zd8') format('truetype'),
	url('../fonts/virt.woff?yq3zd8') format('woff'),
	url('../fonts/virt.svg?yq3zd8#virt') format('svg');
font-weight: normal;
font-style: normal;
}

i {
font-family: 'virt';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-disk:before{content: "\e900";}
.icon-done:before{content: "\e901";}
.icon-edit:before{content: "\e902";}
.icon-feedback:before{content: "\e903";}
.icon-filemanager:before{content: "\e904";}
.icon-firewall:before{content: "\e905";}
.icon-firewall2:before{content: "\e906";}
.icon-house:before{content: "\e908";}
.icon-import:before{content: "\e909";}
.icon-ippool:before{content: "\e90a";}
.icon-logout:before{content: "\e90b";}
.icon-logs:before{content: "\e90c";}
.icon-notes:before{content: "\e90d";}
.icon-ostemplates:before{content: "\e90e";}
.icon-pdns:before{content: "\e90f";}
.icon-performance:before{content: "\e910";}
.icon-plans:before{content: "\e911";}
.icon-processes:before{content: "\e912";}
.icon-ram:before{content: "\e913";}
.icon-recipes:before{content: "\e914";}
.icon-save:before{content: "\e915";}
.icon-server_stats:before{content: "\e916";}
.icon-serverloads:before{content: "\e917";}
.icon-servers:before{content: "\e918";}
.icon-servers2:before{content: "\e919";}
.icon-services:before{content: "\e91a";}
.icon-ssh:before{content: "\e91b";}
.icon-ssh2:before{content: "\e91c";}
.icon-ssl:before{content: "\e91d";}
.icon-storage:before{content: "\e91e";}
.icon-tasks:before{content: "\e91f";}
.icon-tasks2:before{content: "\e920";}
.icon-undo:before{content: "\e921";}
.icon-uniE619:before{content: "\e922";}
.icon-users:before{content: "\e923";}
.icon-vps_stats:before{content: "\e924";}
.icon-vps_stats_pie:before{content: "\e925";}
.icon-vs:before{content: "\e926";}
.icon-add:before{content: "\e927";}
.icon-bandwidth:before{content: "\e928";}
.icon-config:before{content: "\e929";}
.icon-cpu:before{content: "\e92a";}
.icon-dashboard:before{content: "\e92b";}
.icon-databackup:before{content: "\e92c";}
.icon-delete:before{content: "\e92d";}
.icon-search:before{content: "\e986";}
.icon-alert:before{content: "\ea07";}
.icon-notify:before{content: "\ea08";}
.icon-help:before{content: "\ea09";}
.icon-info:before{content: "\ea0c";}
.icon-blocked:before{content: "\ea0e";}
.icon-billing:before{content: "\f09d";}
.icon-file:before{content: "\f15b";}
.icon-file-text:before{content: "\f15c";}
