@font-face {
	font-family: OpenSans,'virt';
	src:url('../fonts/virt.eot?-cky9kd');
	src:url('../fonts/virt.eot?#iefix-cky9kd') format('embedded-opentype'),
		url('../fonts/virt.woff?-cky9kd') format('woff'),
		url('../fonts/virt.ttf?-cky9kd') format('truetype'),
		url('../fonts/virt.svg?-cky9kd#virt') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: OpenSans,'virt';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-disk{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;');}
.icon-done{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;');}
.icon-edit{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;');}
.icon-feedback{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;');}
.icon-filemanager{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;');}
.icon-firewall{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;');}
.icon-firewall2{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;');}
.icon-house{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;');}
.icon-import{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;');}
.icon-ippool{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;');}
.icon-logout{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;');}
.icon-logs{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;');}
.icon-notes{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;');}
.icon-ostemplates{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90e;');}
.icon-pdns{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90f;');}
.icon-performance{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe910;');}
.icon-plans{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe911;');}
.icon-processes{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe912;');}
.icon-ram{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe913;');}
.icon-recipes{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe914;');}
.icon-save{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe915;');}
.icon-server_stats{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe916;');}
.icon-serverloads{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe917;');}
.icon-servers{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe918;');}
.icon-servers2{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe919;');}
.icon-services{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91a;');}
.icon-ssh{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91b;');}
.icon-ssh2{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91c;');}
.icon-ssl{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91d;');}
.icon-storage{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91e;');}
.icon-tasks{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe91f;');}
.icon-tasks2{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe920;');}
.icon-undo{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe921;');}
.icon-uniE619{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe922;');}
.icon-users{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe923;');}
.icon-vps_stats{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe924;');}
.icon-vps_stats_pie{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe925;');}
.icon-vs{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe926;');}
.icon-add{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe927;');}
.icon-bandwidth{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe928;');}
.icon-config{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe929;');}
.icon-cpu{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92a;');}
.icon-dashboard{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92b;');}
.icon-databackup{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92c;');}
.icon-delete{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe92d;');}
.icon-search{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe986;');}
.icon-alert{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea07;');}
.icon-notify{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea08;');}
.icon-help{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea09;');}
.icon-info{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0c;');}
.icon-blocked{*zoom:expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea0e;');}