body{background-color: #FFF;
color: #000;
font-size: 11px;
margin:0px;
padding: 0px;
font-family: OpenSans,Verdana, Tahoma, Arial, "Trebuchet MS", "Times New Roman", Georgia, sans-serif, serif;
}

input, select{
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;font-size: 12px;
}

textarea{
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;font-size: 12px;
overflow: auto;
}

table,tr,td{
background-color: transparent;
color: #000;
font-size: 11px;
}

form{
border: 0px solid #000;
display: inline;
margin: 0px;
padding: 0px;
}

img{
border: 0px solid #000;
vertical-align: middle;
}

a:link,
a:visited,
a:active{
	background-color: transparent;
	color: #333333;
	text-decoration: underline;
}

a:hover{
	background-color: transparent;
	color: #000000;
	text-decoration: underline;
}

.footer{
background-color: #F5F5F5;
border: 1px solid #CCCCCC;
}

.docktable{
height:75px;
}

/* Drop Down menu theme*/
/* Table of the menu */

.altrowstable {
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
border: 1px #D2D2D2 solid;
}

.altrowstable th, .tablehead {	
background: url(../images/gradient_silver.gif) repeat-x scroll 0 0 #FFFFFF;
color: #555555;
font-size:13px;
font-family: OpenSans,arial,verdana,sans-serif;
}

.shadow{
-moz-box-shadow: 0 0 8px 2px #E2E2E2;
-webkit-box-shadow: 0 0 8px 2px #E2E2E2;
box-shadow: 0 0 8px 2px #E2E2E2;
}

.tr_bgcolor {
background: rgb(235, 245, 255);
}

.oddrow{
background-color:#FEFEFE;
}

.evenrow{
background-color:#F1F1F1;
}

.ddopt{
background-color:#FFFFFF;
min-width:70px;
border:1px solid #DEDCD1;
margin-top:2px;
visibility:hidden;
position:absolute;
top:0px;
left:0px;
}
/*Menu TR Normal effect */
.ddmnor, .ddopt a:link, .ddopt a:visited, .ddopt a:active{
text-decoration: none;
text-align:left;
}
/*Menu TR On it effect */
.ddmon{
background-color:#DAEBFE;
color: #FFF;
text-align:left;
}
.cbgbor{
border:solid 1px #CCCCCC;
}
.pagelinks, .activepage{
border:1px solid #CCCCCC;
padding:1px 3px;
}
.pagelinks{
background-color: #F0F0F0;
}
.pagelinks a:link, .pagelinks a:visited, .pagelinks a:active, .pagelinks a:hover,
.activepage a:link, .activepage a:visited, .activepage a:active, .activepage a:hover{
text-decoration:none;
}
.activepage{
background-color: #CCCCCC;
}
/* Ending - Drop Down menu theme*/

.green_but {
-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
box-shadow:inset 0px 1px 0px 0px #9acc85;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
background-color:#74ad5a;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:1px solid #3b6e22;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:14px;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #92b879;
}
.green_but:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
background-color:#68a54b;
}
.green_but:active {
position:relative;
top:1px;
}
.green_but_small{
font-size:11px;
padding:3px 12px;
}
a.green_but_a{
text-decoration:none;
}
a.green_but_a:hover, a.green_but_a:active, a.green_but_a:visited, a.green_but_a:focus{
color:#fff;
}

input.submit, a.abut{
background:url(../images/submitbg.gif);
border:1px solid #A4B7FB;
padding:5px 8px;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
color: #555555;
-moz-border-radius: 4px;
text-decoration: none;
}

input.submiton, .abut:hover{
background:url(../images/submitbg.gif);
border:1px solid #5F97F5;
padding:5px 8px;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
color: #555555;
-moz-border-radius: 4px;
text-decoration: none;
}

/* PageLinks */
#pagejump{
position:absolute;
top:0px;
left:0px;
display:none;
z-index:1000000;
padding:6px;
border:1px solid #DEDCD1;
background-color:#DAEBFE;
}

.pagination-top{
height:25px;
margin-bottom:10px;
}

.pagination-bottom{
margin-top:10px;
height:25px;
}

.cbgbor{
border:solid 1px #CCCCCC;
}

.pagelinks, .activepage{
border:1px solid #CCCCCC;
padding:1px 3px;
}

.pagelinks{
background-color: #F0F0F0;
}

.pagelinks a:link, .pagelinks a:visited, .pagelinks a:active, .pagelinks a:hover,
.activepage a:link, .activepage a:visited, .activepage a:active, .activepage a:hover{
text-decoration:none;
}

.activepage{
background-color: #CCCCCC;
}

/* End PageLinks */

/* DOCK */
.dock{
list-style:none;
position:relative;
margin:0px auto;
}
.dock li, .dock a {
display:inline;
}
.dock img{
display:block;
border:none;
width:0px;
height:0px; 
position:absolute; 
top:auto;
left:auto;
}

/* hf_theme.php the top row*/
.header{
background:url(../images/headerbg.gif);
height:35px;
color: #555555;
text-decoration:none;
}

.header a:link, .header a:visited, .header a:active, .header a:hover{
font-size:12px;
color: #555555;
text-decoration:none;
font-weight:bold;
font-family: OpenSans,Arial, Helvetica, sans-serif;
}

.headtd{
border-right:1px solid #AAAAAA;
}

.left_menu{
border-right:1px solid #CCCCCC;
}

.left_menu a:link, .left_menu a:visited, .left_menu a:active{
display:block;
padding:8px;
text-decoration: none;
font-size:12px;
width:182px;
}

.left_menu a:hover{
display:block;
padding:8px;
text-decoration: none;
font-size:12px;
color:#0099CC;
background: url(../images/catbg.gif) no-repeat center;
}

/*login.php styles*/
.login_right{
background:url(../images/loginbackground.jpg) no-repeat;
width:345px;
height:230px;
}

.login_txt{
color: #666;
font-size:12px;
}

.login_input{
background:none repeat scroll 0 0 #FFFFFF;
border:1px solid #CCCCCC;
font-size:18px;
margin-bottom:16px;
margin-right:6px;
margin-top:2px;
padding:6px;
width: 296px;
color:#666666;
border-radius: 4px 4px 4px 4px;
}

.loginhead{
font-size: 20px;
font-weight: 400;
color: #444444;
}

.loginmap{
background: url(../images/map.gif) no-repeat center;
height: 500px;
background-position:50% 50%;
}

/* File Manager */
.filemanager{
width: 100%;
}

.fileicon a:link, .fileicon a:visited, .fileicon a:active{
width: 100px;
height: 100px;
text-align:center;
display: inline-block;
text-decoration: none;
border:1px solid #FFFFFF;
padding: 5px;
}

.fileicon a:hover{
border:1px solid #9CC6EF;
background-color:#E8F5FD;
}

.tit{
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: 400;
color: #444444;
padding:18px;
}

.heading{
font-family: OpenSans,Verdana, Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 500;
color: #444444;
text-align: center;
width:100%;
}

.notice{
background-color: #FAFBD9;
font-size:13px;
padding:8px;
text-align:center;
margin-bottom: 20px;
}

.usage{
background:url(../images/usagebar.gif) repeat;
width:40px;
height:200px
}

.summaryTitle, .cbg {
background:url(../images/shg.gif) repeat;
color:#000000;
font-weight:bold;
height:23px;
padding-right:8px;
text-decoration:none;
}

.summaryBlock, .cbor{
background-color:#FFFFFF;
border:1px solid #CCCCCC;
}

/* Softwares Tabs */
.tabs{

text-align:center;
margin-bottom:20px;
}

a.tab:link, a.tab:visited, a.tab:active, a.tab:hover{
padding:5px;
text-decoration: none;
color: #666666;
margin:0px 8px;
display:inline-block;
}

a.tabbed:link, a.tabbed:visited, a.tabbed:active, a.tabbed:hover{
padding:5px;
text-decoration: none;
color: #666666;
margin:0px 8px;
display:inline-block;
}
/* Ending - Softwares Tabs */

.dummm{
zoom:1;
}

.ostempfont{
font-family: OpenSans,Verdana, Helvetica, sans-serif;
font-size:11px;
line-height:130%;
}

/* CPU styles*/
.val{
font-size: 18px;
font-weight: 400;
color: #444444;
}
/* Ending - CPU styles*/

.sysyellow
{
background-color: #F5FF7D; 
}

.sysred
{
background-color: #FF8A8A;
}

.sysgreen
{
background-color: #99FF66; 
}

/* Form Related */
.fhead{
font-weight:bold;
color:#333333;
}

.exp{
color: #777777;
font-size:11px;
}

/* All forms error handler */
.error{
background-color: rgb(230, 230, 230);
}

.list a:link, .list a:visited, .list a:active, .list a:hover{
font-size: 17px;
font-weight: bold;
color: #444444;
text-decoration:none;
font-family:Arial, Verdana, Helvetica, sans-serif;
}
.list_small{
color: #777777;
font-size:11px;
}
.list_over{
background-color: #E2F4FE;
}

.ucplist_over{
background-color: #E2F4FE;
cursor:pointer;
}

.ucpicol {
color:#666666;
font-size:10px;
padding-top:5px;
}

.ucpihtxt {
color:#0E396C;
font-size:11px;
font-weight:bold;
}

/* IPs Reorder */
.ipsreo{
border:1px solid #CCCCCC;
background: #EFF1F1;
padding:2px 0px;
position:absolute;
top:0px;
left:0px;
z-index:0;
visibility:hidden;
cursor:move;
}

/*************************************************************virtualizor.CSS**********************************************************************************/
/***********************************************************************************************************************************************/

html {overflow-y: scroll;}

	#full-slider-wrapper {
    overflow: hidden;
}

#full-slider {
    position: relative;
    width:750px;
    height: 1100px;
    margin: 0 auto;
}

#full-slider .slide-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    visibility: hidden;
}

#full-slider .slide-panel.active {
    visibility: visible;
}

#full-slider-nav {
    position: absolute;
    top: 0;
    right: 0;
}

#full-slider-nav-left{
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 15px;
    /*border: 20px solid transparent;*/
    cursor: pointer;
}

#full-slider-nav-right {
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 15px;
    cursor: pointer;
}

#full-slider-nav-left {
    border-right-color: #BBB;
}

#full-slider-nav-left:hover {
    border-right-color: #999;
}

#full-slider-nav-right {
    border-left-color: #BBB;
}

#full-slider-nav-right:hover {
    border-left-color: #999;
}

/* styles below are only for this example */

#full-slider .slide-panel {
    color: #DDD;
}

#full-slider-nav-left-wrapper{
	float:right;
}

/******************************************Dashboard VPS Info Table**********************************************/

#table-container{
    width:700px;
}

.cat-wrapper{
	margin-left:1px;
    width:700px;
	/*height:120px;*/
    box-shadow: 0px 3px 10px #999;
	-webkit-box-shadow: 0px 3px 10px #999;
	-moz-box-shadow: 0px 3px 10px #999;	
	
}

.icon-cell{
	width:32px;
	padding-top:10px;
    padding-left:28px;
    padding-right:28px;
}

.icon-caption{
	font-weight:normal;
	color:#404040;	
}

.icon-caption-cell{
	
}

.mgmgttable{
    width:auto;
}

.mgmgttable td{
	valign:top;
}
.advoptionstable{
   width:auto;
}

.advoptionstable td{
	valign:top;
}

.infotable{
   width:auto;
}
.infotable td{
   valign:top;
}

.vps-cat-title-text{
    color:white;
	font-weight:normal;
	font-size:large;
}

.cat-title{
    width:700px;
    text-align: left;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:4px solid white;
	background-image:url('../images/catbg.png');
	background-repeat:repeat-x;	
	background-color:#FFFFFF;
}

.cat-title td {
	height:25px;
	/*border:1px solid #CCCCCC;*/
}

.cat-title-text{
    color:white;
	height:5px;
	font-weight:bold;
}

.vpstableheader{
	background:#fff url(../images/catbg.png);
	color:white;
	font-weight:bold;
}

/*******************************Dialog Progress Indicators (Centered)***********************************/
.diag-progress{
	position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	height:18em;
	margin-top: -9em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	text-align:center;
}

.diag-progress-500x400{
	position:absolute;
	top: 50%;
	left: 50%;
	width:30em;
	height:18em;
	margin-top: -4.5em; /*set to a negative number 1/2 of your height*/
	margin-left: -15.625em; /*set to a negative number 1/2 of your width*/
	text-align:center;
}

/****************************VPS Management Header***********************************************/
.vpsmenu{
-moz-border-radius:6px 6px 6px 6px;
background:#858585 repeat scroll 0 0;
padding:6px;
display:none;
z-index:10;
position: absolute;
}

.vpsmenubg{
background:#FFFFFF repeat scroll 0 0;
padding:2px;
height:22px;
width:125px;
text-align:center;
vertical-align: middle;
}

.vps-desc-value-cell{
	height:5px;
}

.vps-desc-title{
	color:black;
	font-weight:bold;
}

.vps-desc-value{
	font-size:small;
	color:black;
	font-style:italic;
	display:inline;
	height:20px;
}

.vps-desc-wrap{
	width:700px;
	box-shadow: 0px 3px 10px #999;
	-webkit-box-shadow: 0px 3px 10px #999;
	-moz-box-shadow: 0px 3px 10px #999;	
}

#content-wrapper{
	/*when border is set margin:150px does not cause the div to increase while appending the progress image*/
	border:thin solid white;  
}

.divwithborder{
	border:thin solid red;  
}

.css_right {float:right}

/*******************************HVM Settings Boot Order Sortable*******************************************/
#sortable { list-style-type:none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 5px 5px 5px; padding: 5px 5px 0px 0px; font-size: 1.0em; height: 1.0em;}
html>body #sortable li { height: 1.0em; line-height:6px; cursor:move;}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

/*************************************************************tiptipCSS**********************************************************************************/
/***********************************************************************************************************************************************/

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/*********************************/
/****** PASSWORD STRENGTH METER***/
/*********************************/

#pass-strength-result {
background-color: #EEEEEE;
border-color: #DDDDDD !important;
border-style: solid;
border-width: 1px;
display: block;
padding: 3px 5px;
text-align: center;
width: 200px;
}

#pass-strength-result.bad {
background-color: #ffb78c;
border-color: #ff853c !important;
}

#pass-strength-result.good {
background-color: #ffec8b;
border-color: #fc0 !important;
}

#pass-strength-result.short {
background-color: #ffa0a0;
border-color: #f04040 !important;
}

#pass-strength-result.strong {
background-color: #c3ff88;
border-color: #8dff1c !important;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}
/* DNS */
.err_msg, .required-field{
	color:red;
}

.record-title{
	font-size:12px; 
	font-weight:bold;
	color:white;
}

.oddrowcolor{
background-color:#FCFCFC;
}

.evenrowcolor{
background-color:#F5F5F5;
}

.tr_bgcolor {
background: rgb(235, 245, 255);
}

.edit-link, .delete-link{
	cursor:pointer;
}

a.add-link{
background:url(../images/submitbg.gif);
border:1px solid #A4B7FB;
padding:1px 5px;
font-size:12px;
font-family:Arial, Verdana, Helvetica, sans-serif;
font-weight: bold;
color: #555555;
-moz-border-radius: 4px;
text-decoration: none;
}

/*Styling for status*/
td span#vps-desc-status > div{
	display: inline;
	padding: .3em .6em;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: white;
	text-align: center;
	border-radius: 2px;
}
	td span#vps-desc-status > div.online{ 
		background-color: #5cb85c;
	}
	td span#vps-desc-status > div.offline{ 
		background-color: #B85C5C;
	}
	td span#vps-desc-status > div.suspended{ 
		background-color: #5C79B8;
	}
	
	

.vs a:link, .vs a:visited, .vs a:active, .vs a:hover, 
.usr a:link, .usr a:visited, .usr a:active, .usr a:hover{
font-size: 17px;
font-weight: bold;
color: #444444;
text-decoration:none;
font-family:Arial, Verdana, Helvetica, sans-serif;
}
.vs_small, .usr_small{
color: #777777;
font-size:11px;
}
.vs_over, .usr_over{
background-color: #E2F4FE;
}

.btn {
-webkit-border-radius: 3;
-moz-border-radius: 3;
border-radius: 3px;
font-family: Arial;
color: #ffffff;
font-size: 15px;
padding: 10px;
background: #00a0d2;
text-decoration: none;
margin-bottom: 10px;
}

.btn:hover {
background: #21bceb;
text-decoration: none;
color: #ffffff;
}

.btn a:hover a:active a:visited{
color:white !important;
text-decoration:none !important;
}

.btn_mon {
border-radius: 2x solid;
background-color: #919191;
color: white;
}

#get_next_month {margin-left:70px;}

#get_prev_month {margin-right:70px;}

#current_month {
font-size: 20px;
font-weight: bold;
}

/* server_stats related css starts */
.flip {
    padding: 5px;
    text-align: center;
    background-color: #f0f0f0;
}

.panel > .panel-heading {
  background-color:#F0F0F0;
  color: #444;
}

.panel {
  border-color:#F0F0F0;		
}	

.box_shadow {
    border: 1px solid #ddd;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* server_stats related css ends */